/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2980b9, #6dd5fa);
    color: #fff;
}

#app {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#welcome-message {
    font-size: 2rem;
    margin-bottom: 20px;
}

#mode-container {
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

#mode-container button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

#mode-container button:hover {
    background: #2980b9;
}

.hidden {
    display: none;
}

#flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 330px;
    height: 230px;
    border-radius: 12px;
    background: linear-gradient(135deg, #ffffff 0%, #f9f9f9 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#flag-container h2 {
    height: 220px;
    color: #2f2f2f; /* 设置字体颜色为黑色 */
    font-size: 150px; /* 将字体大小放大 */
    margin: 0; /* 去除默认的外边距 */
}

#options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#options-container button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#options-container button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#options-container button:active {
    transform: translateY(1px);
}

#score-container {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

#question {
    font-size: 40px; /* 增大字体 */
    font-weight: bold; /* 使字体加粗 */
    text-align: center; /* 让题目居中显示 */
    margin: 20px 0; /* 增加上下间距 */
    color: #ffffff; /* 设置字体颜色 */
    font-family: 'Arial', sans-serif; /* 设置字体 */
}

#back-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ef2409;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#back-button:hover {
    background-color: #d90404;
}

#start-button {
    background-color: #446ddf; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    padding: 15px 32px; /* 内边距，控制按钮大小 */
    text-align: center; /* 文字居中对齐 */
    text-decoration: none; /* 移除文字装饰 */
    display: inline-block; /* 使按钮可以与其他元素并排 */
    font-size: 16px; /* 文字大小 */
    margin: 4px 2px; /* 外边距 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    border: none; /* 移除边框 */
    border-radius: 8px; /* 设置按钮圆角 */
    transition: background-color 0.3s ease; /* 背景颜色的过渡效果 */
}

#start-button:hover {
    background-color: #213bb1; /* 鼠标悬停时背景颜色 */
}

#logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

#logo {
    width: 250px; /* 根据需要调整logo的大小 */
    height: auto;
    cursor: pointer;
}
